body {
  background: #F2F2F2;
}
.statusTrue {
  color: green;
  font-weight: bold;
}
.statusFalse {
  color: red;
  font-weight: bold;
}
.statusTrueName {
  color: #999;
  text-decoration: line-through;
}