<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
<head>
    <meta charset="UTF-8">
    <title>ToDo AngularJS</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

    <!-- User Style -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="toDoCtrl">


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>ToDo AngularJS</h1>
            </div>
        </div>
        <div class="row" style="padding:15px 0;">
            <div class="col-md-12"><h3>Количество задач: {{tasks.length}}</h3></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="input-group">
                    <input type="text" ng-model="taskName" class="form-control" placeholder="Введите название задачи">
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="addTask()" type="button">Добавить</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Название задачи</th>
                            <th class="text-right">Статус выполнения</th>
                            <th class="text-right">Действие</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in tasks">
                            <td class="{{setStatusName(item.status)}}">{{item.name}}</td>
                            <td class="text-right {{setStatusColor(item.status)}}">{{setStatus(item.status)}}</td>
                            <td class="text-right ">
                                <a class="btn btn-success" role="button" ng-click="finishTask($index)"><span class="glyphicon glyphicon-ok"></span></a>
                                <a class="btn btn-danger" role="button" ng-click="removeTask($index)"><span class="glyphicon glyphicon-remove"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


<!-- AngularJS -->
<script src="bower_components/angular/angular.min.js"></script>

<!-- AngularJS App -->
<script src="app/app.js"></script>

<!-- AngularJS Controllers -->
<script src="app/controllers/toDoCtrl.js"></script>

<!-- AngularJS Services -->
<script src="app/services/tasksService.js"></script>

</body>
</html>